
@font-face
{
	font-family:VTHStylish;
	src:url(fonts/EuphoriaScript-Regular.ttf);
}

@font-face
{
	font-family:RobotoRegular;
	src:url(fonts/Roboto-Regular.ttf);
}

@font-face
{
	font-family:RobotoBlack;
	src:url(fonts/Roboto-Black.ttf);
}

@font-face
{
	font-family:RobotoBold;
	src:url(fonts/Roboto-Bold.ttf);
}

@font-face
{
	font-family:RobotoBoldItalic;
	src:url(fonts/Roboto-BoldItalic.ttf);
}

@font-face
{
	font-family:RobotoCondensed;
	src:url(fonts/Roboto-Condensed.ttf);
}
@font-face
{
	font-family:RobotoItalic;
	src:url(fonts/Roboto-Italic.ttf);
}

@font-face
{
	font-family:RobotoLight;
	src:url(fonts/Roboto-Light.ttf);
}

@font-face
{
	font-family:RobotoMedium;
	src:url(fonts/Roboto-Medium.ttf);
}

@font-face
{
	font-family:RobotoThin;
	src:url(fonts/Roboto-Thin.ttf);
}
