body{
	background-color:#fff;
	height: 1000px;
}

*{
	box-sizing: border-box;
	border: 1;
	padding: 0;

}

.outer_div{	
	position: relative;
	border: 2px solid green;
	background-color:rgba(0, 255, 0, 0.1);
}

#division1{
	height: 100px;
	width:  100px;
	border: 5px solid red;
	border-radius: 20px;
	background-color:#ffffff;
	margin: 10px;
}
/*
#division2{
	height: 100px;
	width:  200px;
	border: 5px solid red;
	border-radius: 20px;

	margin: 50px;
	padding: 10px 50px;
}


#division3{
	background-color:rgba(0, 255, 0, 0.1);
}